.tweetCard{
    width: 30rem;
    height: 45rem;
    display: flex;
   
    justify-content: center;
   padding:0 5rem;
    overflow: hidden;
    transition: all 500ms ease;
    

}
.tweetCard:hover{
    transform: scale(1.1);
}