.container-freeApi {
    width: 80%;
}


.freeApi-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;

    gap: 2rem;
}

.freeApi-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}

.freeApi-left .heading{
    font-size: 3.5rem;
    color: white;
}

.freeApi-left .para{
    color: white;
    font-size: 2rem;
}


.freeApi-right .freeApi-ytVideo-container {
   
    width: 65rem;
    height: 45rem;
    border: 12px solid;
  border-color: rgba(167, 167, 167, 0.241);
  
    
}
.freeApi-btn{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 7rem;
    border: 1px solid orange;
    padding: 2rem 2rem;
    border-radius: 20px;
    font-size: 2.5rem;
    color: orange;
    text-align: center;
}

@media (max-width: 768px) {
    .freeApi-wrapper{
        display: flex;
        flex-direction: column;
    }
    

    .freeApi-right .freeApi-ytVideo-container {
        border: 8px solid;
        width: 100%;
        height: 16rem;
    }

    .freeApi-left .heading  {
        font-size: 1.6rem;
    }
    .freeApi-left .para {
        
        font-size: 1.5rem;
    }
    .freeApi-btn{
        margin-top: 1rem;
        padding: 1rem 2rem;
        
    }

    .freeApi-left{
        gap: 1.5rem;
    }
}