.cohortsCard-container {
    width: 35rem;
    height: 42rem;
    border: 6px solid rgb(29, 29, 29);
    
    color: white;
    overflow: hidden;
    background-color: rgba(11, 11, 11, 0.488);
    border-radius: 50px 0px 50px 0px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr;
    transition: all .5s ease;
 
}

.cohortsCard-container:hover {
    transform: scale(1.08);
}

.react-player-wrapper {
    width: 100%;
    height: 18rem;

}


.cohortsCard-text {
    margin-top: 1rem;
    /* display: flex;
    flex-direction: column;
    gap: .7rem; */
    display: grid;
    grid-template-columns:1fr;
    padding: 0 1rem;
    
}

.cohort-title {
    font-size: 2rem;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    /* margin-bottom: 1rem; */
    color: orange;
   
}

.cohort-description {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    margin-top: .5rem;
}

.cohort-date-duration {
    display: flex;
    font-family: "Roboto", sans-serif;
    /* margin-top: 1rem; */
    gap: 2rem;

}

.start-date p {
    margin: 0;
}

.start-date,
.duration {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.cohort-date-duration .start-date,
.duration {
    font-size: 1.2rem;
}

.cohort-price {
    display: flex;
    align-items: center;
 gap: 1rem;
    margin-top: 1rem;
}

.cohort-price .price {
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
}

.cohort-price .price ,
.cohort-price .old-price  {
    margin: 0;
}

.cohort-price .old-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: line-through;
    color: rgb(110, 110, 110);
}

.cta-btn-buy-now {
    width: 100%;
height: 5rem;
margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid orange;
    color: rgb(0, 0, 0);
    background: transparent;
    background-color: rgb(255, 166, 0);
    padding: 1rem;

    cursor: pointer;
    border-radius: 0px 0px 50px 0px;



}



@media (max-width: 768px) {

    .cohortsCard-container {
        width: 90%;
        height: 35rem;
        border-radius: 25px 0px 25px 0px;
    }

    .react-player-wrapper {
        width: 100%;
        border-radius: 25px 0px 25px 0px;
        height: 15rem;
    }

    .cohortsCard-text {
        gap: .5rem;
    }

    .cohort-title {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .cohort-description p {
        font-size: 1.2rem;
    }

    .cohort-price .price {
        font-size: 2rem;
    }

    .cohort-date-duration {
        margin-top: 0;
    }

    .cohort-price .old-price {
        font-size: 1.5rem;
    }

    .cta-btn-buy-now {

        margin-top: 1rem;
        font-size: 2rem;

        padding: .5rem;

        border-radius: 0px 0px 30px 0px;

        
    }

}