.slider-container{
    width: 100rem;
    height: 30rem;
    border: 1px solid red;
    position: relative;
   
    display: flex;
}

.next{
    position: absolute;
    top: 50%;
  translate: -50%;
  width: 2.25rem;
  height: 2.25rem;
  left: -1rem;
  border: 0;
  border-radius: 50%;
  background: orange;
 
  font: 900 1.5rem/1 "Inter", sans-serif;
  color: #222;
  cursor: pointer;

}
.prev{
    position: absolute;
  
    top: 50%;
  right: -1rem;
  width: 2.25rem;
  height: 2.25rem;
  right: .5rem;
 border-radius: 50%;
  cursor: pointer;
z-index: 10;
background: rgb(68, 0, 255);
}