.section-tweet {
  
    color: white;
}

.tweet-section-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.tweet-container-love {
    display: flex;
    gap: 2rem;
    padding: 2rem;

}

.tweet-heading h1 {
    font-size: 5rem;
    text-align: center;
}

.tweet-heading p {
    font-size: 2rem;
}

.tweet-box {
    width: 30px;
    height: 45px;
    overflow: hidden;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 50px 0px 50px 0px;
}


@media (max-width: 768px) {
    .tweet-section-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
    }
    .tweet-container-love{
     
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
      
    }

    .tweet-box {
       
        height: 250px;
        overflow: hidden;
        border: 1px solid rgb(72, 72, 72);
        border-radius: 50px 0px 50px 0px;
    }
    

}