


.cohorts-section-container{
   
   width: 80%;
   
  
}
.cohorts-wrapper{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

@media (max-width: 768px) {
    .cohorts-wrapper{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        gap: 1rem;
       
    }


}  